body {
  background-color: #282c34;
}

.App {
  text-align: center;
  max-width: 728px;
  margin: 0 auto;
}

.App header {
  background-color: #36393f;
  height: 10vh;
  min-height: 50px;
  color: white;
  position: fixed;
  width: 100%;
  max-width: 728px;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 99;
  padding: 0 8px;
  box-sizing: border-box;
}
.App header:after {
   content:"";
    background: -webkit-linear-gradient(bottom, #00000000, 
    #292b30);
    display: block;
    height:5px;
    width: 100%;
    left: 0;
    max-width: 728px;
    display: flex;
    position: absolute;
    bottom: 0;
    z-index: 100;
}

.App section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
  background-color: #36393f;
}

main {
  padding: 10px;
  height: 80vh;
  margin: 10vh 0 10vh;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  
}

#main * {
    /* don't allow the children of the scrollable element to be selected as an anchor node */
    overflow-anchor: none;
}

#anchor {
    /* allow the final child to be selected as an anchor node */
    overflow-anchor: auto;

    /* anchor nodes are required to have non-zero area */
    height: 1px;
}

main::-webkit-scrollbar {
  width: 0.25rem;
}

main::-webkit-scrollbar-track {
  background: #1e1e24;
}

main::-webkit-scrollbar-thumb {
  background: #6649b8;
}

form {
  height: 10vh;
  position: fixed;
  bottom: 0;
  background-color: rgb(24, 23, 23);
  width: 100%;
  max-width: 728px;
  display: flex;
  font-size: 1.5rem;
}

form button {
  width: 20%;
  background-color: rgb(56, 56, 143);
}


input {
  line-height: 1.5;
  width: 100%;
  font-size: 1.5rem;
  background: #40444b;
  color: white;
  outline: none;
  border: none;
  padding: 0 10px;
}

button {
  background-color: #282c34; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  font-size: 1.25rem;
}

button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}


.sign-in {
  color: #282c34;
  background: white;
  max-width: 400px;
  margin: 0 auto;
}




ul, li {
  text-align: left;
  list-style: none;
}
img {
  width: 40px;
  border-radius: 100px;
  height: 40px
}
.container{
  display: flex;
  flex-direction: row;
  padding-top: 20px;
}
.name{
    text-align: left;
    font-weight: 500;
    color: white;
    display: flex;
    flex-direction: row;
}

.message{
    text-align: left;
    color: white;
    font-weight: 400;
}

.name p{
    text-align: left;
    margin: 0px;
}

.message p{
    text-align: left;
    margin: 0px;
}

.image{
  width: 40px;
  height: 40px;
  margin: 2px 5px;
}


/*div{
    border: solid;
    border-width: 1px;
}*/

#date{
    padding-left: 10px;
    font-weight: 400;
    font-size: .75rem;
    color: #6b7280;
    padding-top: 3px;
}

#full{
    width: 100%;
    height: 100%;
    
    
    position: absolute;
    top: 0;
    left: 0;
    background-color: white;
}